@import '../../colors'

h1
  color myPrimaryColor
  text-shadow 2px 2px 3px #777

a
  border-radius 3px
  color #FFF
  font-weight bold
  padding 0.2em
  text-decoration underline

a.active
  background-color myPrimaryColor
