@import 'nib'
@import 'colors'

html
  height 100%

body
  background linear-gradient(top, #A3B2B9, lighten(myPrimaryColor, 30))
  color #FFF
  margin-top 1em

a:link
  outline 0

h1, h2, h3
  margin-top 0

h1.loading
  color #000

header, footer, section.route
  border 1px dashed #000
  padding 1em

header
  background-color #999

footer, header.sub
  background-color #666

footer
  text-align center

section.route
  background-color darken(myPrimaryColor, 25)

.main-outlet
  background-color darken(myPrimaryColor, 28)
  min-height 250px
